.ama-bhoomi-logo{
    position: absolute;
    top: 20%;
    left: 25%;
}

.ama-bhoomi-logo img{
    width: 300px !important;
    height: 250px !important;
}

@media screen and (max-width: 768px){
    .ama-bhoomi-logo{
        position: absolute;
        bottom: 5%;
        left: 20%;
    }

    .ama-bhoomi-logo img{
        width: 150px !important;
        height: 100px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .ama-bhoomi-logo{
        position: absolute;
        top: 15%;
    }

    .ama-bhoomi-logo img{
        width: 150px !important;
        height: 100px !important;
    }
}