* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light background color */
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/consilting1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    animation: slideBg 10s infinite alternate; /* Animation */
}

.heading-home {
    margin-left: 20px;
    color: white; /* White text for better contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow */
}

.welcome {
    font-size: 3.5em; /* Adjust font size */
    margin-bottom: 10px; /* Space between welcome and heading */
}

.text {
    font-size: 4.5em; /* Adjust font size */
}

.hiteisee {
    color: #44c948;
    font-weight: 700;
}

.button {
    margin-top: 20px;
    margin-left: 20px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #44c948; 
    color: white; /* Button text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; 
}

.button-link:hover {
    background-color: #2b902f; /* Darker green on hover */
}

@keyframes slideBg {
    0% {
        background-image: url("../assets/consilting1.jpg");
    }
    50% {
        background-image: url("../assets/consulting2.jpg");
    }
    100% {
        background-image: url("../assets/consilting1.jpg");
    }
}
