.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  color: #aaa;
  text-decoration: none;
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-section input {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 3px;
}

.footer-section button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}

.footer-bottom {
  text-align: center;
  margin-top: 10%;
}

.footer-bottom .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-bottom .social-icons a {
  color: #fff;
  margin: 0 10px;
}

.footer-bottom .social-icons a:hover {
  color: #007bff;
}
