/* .header-logo {
    border: 5px solid red; /* Add a noticeable border */
/*     width: 10%; */
/* } */
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 30%; /* Make the image take up the full width of its parent */
  height: auto; /* Maintain the aspect ratio of the image */
  margin-left: 15%;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #3c3e54;
  /* position: fixed;       Fixed position at the top */
  /* top: 0; */
  width: 100%; /* Full width */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: 5%;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links li a:hover {
  color: #6dc246;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 14px;
  font-weight: bold;
}

.contact-detail {
  font-size: 14px;
  color: #555;
}

.consulting-button {
  padding: 12px, 25px, 12px, 25px;
  width: Hug (203px) px;
  height: Fixed (55px) px;
  padding: 12px 25px 12px 25px;
  gap: 10px;
  border-radius: 38px 0px 0px 0px;
  opacity: 0px;

  margin-left: 35px;
  font-size: 16px;
  
  background-image: linear-gradient(#6dc246, #48c246);
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consulting-button:hover {
  background-color: #669e72;
}
